.crewItemWrapper {
    background-image: linear-gradient(to top, #17234b, #141d3d, #11182f, #0e1122, #060815);
    height: calc(100vh - 88.5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 88.5px;
}

.crewItem {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-variant: petite-caps;
    margin: 0 36px;
}

.crewItemImageWrapper {
    width: 50%;
    padding-top: 40px;
}

.crewItemImage {
    width: 80%;
    border-radius: 8%;
}

.crewItenDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
}

.crewItemName {
    font-size: 70px;
    margin: 50px 0 20px 0;
}

.crewItemStatus {
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.agency, .launch {
    font-size: 35px;
    margin-bottom: 20px;
}

.wiki {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 1px solid white;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 300px;
    align-self: center;
}

.wiki:hover, .backButton:hover {
    color: turquoise;
    border-color: turquoise;
}

.backButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 250px;
    color: white;
    font-size: 30px;
    margin-top: 60px;
    font-style: italic;
    font-variant: petite-caps;
}

@media only screen and (max-width: 992px) {
    .crewItemName {
        font-size: 30px;
    }

    .crewItemStatus, .agency, .launch {
        font-size: 25px;
    }

    .wiki, .backButton {
        padding: 12px;
        font-size: 16px;
        width: 150px;
        align-self: center;
    }
}

@media only screen and (max-width: 600px) {
    .crewItem {
        margin: 0 24px;
    }

    .crewItemName {
        margin-top: 35px;
        margin-bottom: 10px;
    }

    .crewItemStatus, .agency, .launch {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 482px) {
    .crewItemName {
        margin-top: 30px;
        font-size: 23px;
    }

    .crewItemStatus, .agency, .launch {
        font-size: 18px;
    }

    .crewItemImageWrapper {
       width: 60%;
       padding-top: 0;
    }

    .crewItemName {
        margin-top: 0;
    }

    .imageWrapper {
        margin: 5px;
    }
}